<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - tweekClone</title>
  <link rel="stylesheet" href="~/css/output.css" />
  <!-- Insert Sortable.js here -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.13.0/Sortable.min.js"></script>
  
  <!-- Insert HTMX.js -->
  <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
  <meta name="htmx-config" includeAspNetAntiforgeryToken="true" />

  <script>
    document.addEventListener("htmx:configRequest", (evt) => {
    let httpVerb = evt.detail.verb.toUpperCase();
    if (httpVerb === 'GET') return;
    
    let antiForgery = htmx.config.antiForgery;

    if (antiForgery) {
        
        // already specified on form, short circuit
        if (evt.detail.parameters[antiForgery.formFieldName])
            return;
        
        if (antiForgery.headerName) {
            evt.detail.headers[antiForgery.headerName]
                = antiForgery.requestToken;
        } else {
             evt.detail.parameters[antiForgery.formFieldName]
                = antiForgery.requestToken;
        }
    }
});
  </script>

</head>

<body>
  @RenderBody()
</body>

</html>
