/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;
/*! @endimport */

.completed {
  a {
    @apply line-through opacity-50;
  }
}

.activate {
  @apply text-blue-500;
}

@media (min-width: 1024px) {
  .weekGridContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "monday tuesday wednesday thursday friday saturday"
      "monday tuesday wednesday thursday friday sunday";
  }
}

.monday{
  grid-area: monday;
}
.tuesday{
  grid-area: tuesday;
}
.wednesday{
  grid-area: wednesday;
}
.thursday{
  grid-area: thursday;
}
.friday{
  grid-area: friday;
}
.saturday{
  grid-area: saturday;
}
.sunday{
  grid-area: sunday;
}
.other{
  grid-area: other;
}
